# build directories
build
build_debug

# afrl internal directories
UxAS-afrl_internal

# generated documentation
doc/LMCP
doc/doxygen/html
doc/doxygen/latex
doc/reference/UserManual/UxAS_UserManual.aux
doc/reference/UserManual/UxAS_UserManual.lof
doc/reference/UserManual/UxAS_UserManual.log
doc/reference/UserManual/UxAS_UserManual.out
doc/reference/UserManual/UxAS_UserManual.pdf
doc/reference/UserManual/UxAS_UserManual.toc

# generated LMCP source code
src/LMCP

# test output
tests/**/output/**

# example output
examples/**/log/**
examples/**/datawork/**

# Mac OS X file system
**.DS_Store
/UxAS-afrl_internal/

# Visual Studio
/.vs
/regen-temp

*.swp
