[wrap-file]

directory = serial-1.2.1
source_url = https://github.com/wjwwood/serial/archive/1.2.1.zip
source_filename = 1.2.1.zip
source_hash = 67fd24b644099dddf54fc99cdc108de1471d50ec68be9f1dec4e6a570efdc6f7

patch_url = file://%top%/serial-1.2.1_patch.tar
patch_filename = serial-1.2.1_patch.tar
patch_hash = %patch_hash%
