[wrap-file]

directory = zyre-1.1.0
source_url = https://github.com/zeromq/zyre/archive/v1.1.0.zip
source_filename = v1.1.0.zip
source_hash = 548e0fb67f708b27a8842130ce0540c071c7b85e51cd32b861b44d002445b53d

patch_url = file://%top%/zyre-1.1.0_patch.tar
patch_filename = zyre-1.1.0_patch.tar
patch_hash = %patch_hash%
