[wrap-file]

directory = boost_1_64_0
source_url = https://sourceforge.net/projects/boost/files/boost/1.64.0/boost_1_64_0.tar.bz2/download
source_filename = boost_1_64_0.tar.bz2
source_hash = 7bcc5caace97baa948931d712ea5f37038dbb1c5d89b43ad4def4ed7cb683332

patch_url = %top%/boost_1_64_0_patch.tar
patch_filename = boost_1_64_0_patch.tar
patch_hash = %patch_hash%
