[wrap-file]

directory = boost_1_67_0
source_url = https://dl.bintray.com/boostorg/release/1.67.0/source/boost_1_67_0.tar.bz2
source_filename = boost_1_67_0.tar.bz2
source_hash = 2684c972994ee57fc5632e03bf044746f6eb45d4920c343937a465fd67a5adba

patch_url = %top%/boost_1_67_0_patch.tar
patch_filename = boost_1_67_0_patch.tar
patch_hash = %patch_hash%
