[wrap-file]

directory = boost_1_64_0
source_url = https://sourceforge.net/projects/boost/files/boost/1.64.0/boost_1_64_0.zip/download
source_filename = boost_1_64_0.zip
source_hash = b99973c805f38b549dbeaf88701c0abeff8b0e8eaa4066df47cac10a32097523

patch_url = %top%/boost_1_64_0_patch.tar
patch_filename = boost_1_64_0_patch.tar
patch_hash = %patch_hash%
