[wrap-file]

directory = cppzmq-4.2.2
source_url = https://github.com/zeromq/cppzmq/archive/v4.2.2.zip
source_filename = v4.2.2.zip
source_hash = f229a3aa1184caae8c4fac1de526c1d1074f306849dd0da61f9538cee03d074d

patch_url = %top%/cppzmq-4.2.2_patch.tar
patch_filename = cppzmq-4.2.2_patch.tar
patch_hash = %patch_hash%
