[wrap-file]

directory = cppzmq-4.2.1
source_url = https://github.com/zeromq/cppzmq/archive/v4.2.1.zip
source_filename = v4.2.1.zip
source_hash = 771270269249a12dd0f06b3271c27c2fcd4a4ff797030ea88b543ce55eef3c39

patch_url = %top%/cppzmq-4.2.1_patch.tar
patch_filename = cppzmq-4.2.1_patch.tar
patch_hash = %patch_hash%
