[wrap-file]

directory = czmq-4.0.2
source_url = https://github.com/zeromq/czmq/archive/v4.0.2.zip
source_filename = v4.0.2.zip
source_hash = a25b3b221435ea484c35e217cfd3b88589812dd81a9a9948bf02ce8a77684869

patch_url = %top%/czmq-4.0.2_patch.tar
patch_filename = czmq-4.0.2_patch.tar
patch_hash = %patch_hash%
