[wrap-file]

directory = minizip-1.2
source_url = https://github.com/nmoinvaz/minizip/archive/1.2.zip
source_filename = 1.2.zip
source_hash = ffdcc61552f7842558f5e2545412980265843389302df486a203aa2cc5f00290

patch_url = %top%/minizip-1.2_patch.tar
patch_filename = minizip-1.2_patch.tar
patch_hash = %patch_hash%
