[wrap-file]

directory = minizip-1.2
source_url = https://github.com/nmoinvaz/minizip/archive/1.2.zip
source_filename = 1.2.zip
source_hash = 50a155989e87cd803f9d58caf6bce14265125b87c52f3edfbe72b412847525cf

patch_url = %top%/minizip-1.2_patch.tar
patch_filename = minizip-1.2_patch.tar
patch_hash = %patch_hash%
