[wrap-file]

directory = sqlite-amalgamation-3120200
source_url = https://sqlite.org/2016/sqlite-amalgamation-3120200.zip
source_filename = sqlite-amalgamation-3120200.zip
source_hash = 6e012367e659b594f79cd472eac35c8addc015e8706e37e2a1feb1ee79e8e374

patch_url = %top%/sqlite-amalgamation-3120200_patch.tar
patch_filename = sqlite-amalgamation-3120200_patch.tar
patch_hash = %patch_hash%
