[wrap-file]

directory = WellClear-1.0.2
source_url = https://github.com/nasa/WellClear/archive/v1.0.2.zip
source_filename = v1.0.2.zip
source_hash = a6d2fc5e0a41120dea88e4d85895a2037875518d6f069259292affbb6f5c4285

patch_url = %top%/WellClear-1.0.2_patch.tar
patch_filename = WellClear-1.0.2_patch.tar
patch_hash = %patch_hash%
