[wrap-file]

directory = zeromq-4.1.6
source_url = https://github.com/zeromq/zeromq4-1/releases/download/v4.1.6/zeromq-4.1.6.zip
source_filename = zeromq-4.1.6.zip
source_hash = 1cedb9fafcd8637dd7377246a170ce13941a4442e3ac77fad6ebaf901111775b

patch_url = %top%/zeromq-4.1.6_patch.tar
patch_filename = zeromq-4.1.6_patch.tar
patch_hash = %patch_hash%
