[wrap-file]

directory = zlib-1.2.8
source_url = https://github.com/madler/zlib/archive/v1.2.8.zip
source_filename = v1.2.8.zip
source_hash = 72290446e06e8962514d9226540b5277d3150a879afa0e6a88d98bc106f2fdc3

patch_url = %top%/zlib-1.2.8_patch.tar
patch_filename = zlib-1.2.8_patch.tar
patch_hash = %patch_hash%
