config APP_SOI_TK1
    bool "soi_tk1 (from AADL)"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        soi_tk1 (from AADL).

config APP_SOI_TK1_TB_DEBUG
    bool "Enable trusted build debugging for the SOI_TK1 application"
    default n
    depends on APP_SOI_TK1 && PRINTING
    help
        Enable trusted build debugging for the SOI_TK1 application.
