exe_SampleTest_Test01 = executable(
  'SampleTest_Test01',
  'SampleTest_Test01.cpp',
  dependencies: deps_test,
  cpp_args: cpp_args_test,
  include_directories: inc_test,
  link_with: libs_test,
  link_args: link_args_test,
)

test(
  'SampleTest_Test01',
  exe_SampleTest_Test01
)
